@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <p>
        <a href="http://www.obj-ex.com" target="_blank"><img src="~/ObjEx_Logo-100x60.gif"></a>
    </p>
</div>
<address>
    PO Box 25608<br />
    Scottsdale, AZ 85255-5608<br />
    <abbr title="Phone">P:</abbr>
    +1 (480) 588-7776
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@obj-ex.com">ObjEx Information</a><br />
</address>